html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
ul, li {
    margin: 0;
    padding: 0;
}
input {
    font-family: 'Open Sans', sans-serif;
}

$main-blue: #0076FF;

body {
    background-color: #F0F0F0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

// For icons size from 10 to 40 in even (10, 12, 14...)
@mixin svg-sizes {
    @for $s from 5 through 20 {
        $_s: $s * 2;
        .svg-#{$_s} {
            width: #{$_s}px;
            height: #{$_s}px;
        }
    }
}
@include svg-sizes();


.rotate-180 {
    transform: rotate(180deg);
}
.rotate-90 {
    transform: rotate(90deg);
}
.rotate-270 {
    transform: rotate(270deg);
}

.no-select {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-separator {
    flex: 1;
}

.tooltip-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .tooltip-text {
        opacity: 0;
        visibility: hidden;
        padding: 5px 10px;
        font-weight: bold;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.8);
        display: flex;
        justify-content: center;
        border-radius: 12px;
        position: absolute;
        transition: visibility 0.3s linear, opacity 0.3s ease-in-out;
        box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.2);
        text-align: center;
    }
    &:hover .tooltip-text {
        opacity: 1;
        visibility: visible;
    }
}

.overlay {
    transition: visiblity 0.3s linear, opacity 0.3s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    .overlay-background {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.8);
        position: fixed;
    }
    .overlay-content {
        z-index: 9999;
        cursor: default; // why?
        display: flex;
        position: relative;
        height: 100%;
    }
    .overlay-content-centered {
        justify-content: center;
        align-items: center;
    }
    &:focus {
        outline: none;
    }
}

.main-btn {
    background-color: $main-blue;
    color: white;
    padding: 0;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba($color: $main-blue, $alpha: 0.2);
    align-self: center;
    transition: box-shadow 0.3s ease-in-out;
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
    }
    &:active {
        background-color: #026CE8;
    }
    &::-moz-focus-inner {
        border: none;
    }
}

.cancel-btn {
    color: white;
    background-color: red;
    padding: 0;
    border-radius: 7px;
    border: none;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba($color: red, $alpha: 0.2);
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: #ca0000;
    }
    &::-moz-focus-inner {
        border: none;
    }
}

.snackbar {
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $main-blue;
    box-shadow: 0 4px 8px rgba($color: $main-blue, $alpha: 0.2);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}
.snackbar-active {
    visibility: visible;
    animation: snackbar 3s;
}
.snackbar-success {
    background-color: green;
    box-shadow: 0 4px 8px rgba($color: green, $alpha: 0.2);
}
.snackbar-error {
    background-color: red;
    box-shadow: 0 4px 8px rgba($color: red, $alpha: 0.2);
}
@keyframes snackbar {
    0% {bottom: 0; opacity: 0;}
    25% {bottom: 30px; opacity: 1;}
    75% {bottom: 30px; opacity: 1;}
    100% {bottom: 0; opacity: 0;}
}

.main-select {
    border: none;
    border-radius: 12px;
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    &:focus {
        outline: none;
        box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
    }
}

.remove-badge {
    // don't forget to make the parent position relative
    // and make this visible on parent hover
    position: absolute;
    right: -12px;
    top: -12px;
    visibility: hidden;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    svg {
        transition: transform 0.3s ease-in-out;
    }
    &:hover {
        background-color: $main-blue;
        color: white;
        cursor: pointer;
        svg {
            transform: rotate(180deg);
        }
    }
}

.selector-container {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;;
    .selector-body {
        background-color: white;
        border-radius: 12px;
        width: 20vw;
        max-height: 85vh;
        color: $main-blue;
        overflow: auto;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            span {
                height: 50px;
                display: flex;
                align-items: center;
            }
            &:hover{
                background-color: #C7E1FF;
            }
            &:first-child:not(:last-child) {
                border-radius: 12px 12px 0 0;
            }
            &:not(first-child):last-child {
                border-radius: 0 0 12px 12px;
            }
            &:first-child:last-child {
                border-radius: 12px;
            }

            &:not(:first-child)::before {
                height: 1px;
                width: 100%;
                background-color: #a3cdff;
                content: '';
            }
        }
    }
    button {
        width: 20vw;
        margin-top: 20px;
        height: 50px;
        border-radius: 12px;
        background-color: white;
        color: red;
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
            background-color: red;
            color: white;
        }
    }
}

.btn-light-blue, .btn-light-red, .btn-light-green {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 7px 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease-in-out,
            color 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out;
    svg {
        margin-right: 10px;
        transition: color 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }
    &:hover {
        cursor: pointer;
        color: white;
        svg {
            color: white;
            transform: rotate(180deg);
        }
    }
}

.btn-icon-rotate360 {
    &:hover {
        svg {
            transform: rotate(360deg);
        }
    }
}

.btn-light-red {
    svg {
        color: red
    }
    &:hover {
        box-shadow: 4px 8px 16px rgba($color: red, $alpha: 0.3);
        background-color: red;
    }
}
.btn-light-blue {
    svg {
        color: $main-blue
    }
    &:hover {
        box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
        background-color: $main-blue;
    }
}

.btn-light-green {
    svg {
        color: #00A12C;
    }
    &:hover {
        box-shadow: 4px 8px 16px rgba($color: #00A12C, $alpha: 0.3);
        background-color: #00A12C;
    }
}

.bgimage-placeholder {
    display: flex;
        position: relative;
        width: 100%;
        height: 100%;
    .bgimage-placeholder-svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .bgimage-placeholder-children {
        background-position: center;
        background-size: cover;
        flex: 1;
        z-index: 2;
    }
    svg {
        width: 100%;
        height: 100%;
    }
}

// -- Home --

header, footer {
    background-color: $main-blue;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

footer {
    margin-top: 70px;
    .footer-sns {
        color: white;
        font-weight: bold;
        padding-left: 50px;
        .facebook-logo-svg {
            color: #003F88; // original #1877f2;
        }
        ul {
            list-style-type: none;
            h1 {
                margin: 0;
            }
            li {
                display: flex;
                align-items: center;
                padding-bottom: 5px;
                a {
                    color: white;
                    text-decoration: none;
                }
                svg {
                    margin-right: 10px;
                    color: white;
                }
            }
        }
    }
    .footer-map-overlay-container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer-map-overlay {
        width: 75vw;
        height: 75vh;
    }
}

.content-width{ width: 1270px;}

.header-content {
    display: flex;
    justify-content: space-between;
    .logo-container {
        width: 500px;
    }
    a {
        display: flex;
        text-decoration: none;
        .logo-text-container:hover {
            cursor: pointer;
        }
    }
}

.footer-content {
    display: flex;
    align-items: center;
    .footer-map {
        width: 300px;
        height: 150px;
        &:hover {
            cursor: pointer;
        }
    }
    .footer-sns {
        flex: 1;
    }
}

.logo-container {
    display: flex;
    height: 100%;
    .logo-image {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 170px;
        img { 
            max-width: 160px; 
            max-height: 140px;
        }
    }

    .logo-text-container {
        flex: 1;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        svg {
            width: 250px;
        }
    }
}

.menu-container {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    ul {
        list-style-type: none;
        display: flex;
        li {
            display: flex;
            justify-content: center;
            width: 250px;
            a { 
                text-decoration: none; 
                color: white;
                &:focus { outline: none;}
            }
        }
        .search-component {width: 300px;}
    }
}

.carousel-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel-content {
    max-width: 1270px;
    width: 100%;
    border-radius: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.carousel-nav {
    flex: 1;
    display: flex;
    align-items: center;
    div {
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            color: gray;
        }
        margin: 60px 20px 0 20px;
    }
    .carousel-arrow {
        background-color: white;
        border-radius: 18px;
        svg {
            color: black;
        }
        box-shadow: 2px 2px 8px rgba($color: black, $alpha: 0.15);
        cursor: pointer;
    }
    .carousel-arrow-separator {
        flex: 1;
    }
}

.carousel-label {
    height: 75px;
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(60px);
    border-radius: 0px 0px 20px 20px;
    font-size: 36px;
    font-weight: bold;
    align-items: center;
    display: flex;
    padding-left: 50px;
    color: white;
}


.section-title {
    font-size: 18px;
    font-weight: bold;
    color: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    .section-title-line {
        height: 0;
        width: 100%;
        border: solid 0.5px rgba($color: black, $alpha: 0.05);
    }
    .section-title-text {
        flex: 1;
        white-space: nowrap;
        margin: 0 20px;
    }
}


.about-us-container {
    display: flex;
    justify-content: center;
}

.about-us-content {
    width: 1270px;
    margin-top: 50px;
    article {
        padding: 20px 0 0 50px;
    }
}

.featured-products-container {
    display: flex;
    justify-content: center;
    .featured-products-content {
        width: 1270px;
        margin-top: 50px;
        margin-bottom: 25px;
        .section-title {
            margin-bottom: 30px;
        }
        .featured-products-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            .featured-products-nav-arrow {
                margin: 0 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                color: #777;
            }
            .featured-products-nav-enable {
                background-color: white;
                border-radius: 18px;
                svg {
                    color: black;
                }
                box-shadow: 2px 2px 8px rgba($color: black, $alpha: 0.15);
                cursor: pointer;
            }
        }
        .featured-products-list {
            list-style-type: none;
            display: flex;
            justify-content: center;
            li:not(:only-child) {
                margin-right: 30px;
            }
        }        
        .featured-products-empty {
            display: flex;
            justify-content: center;
            color: #777;
        }
    }
}

.product-link {
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

.product-container {
    display: flex;
    flex-direction: column;
    width: 225px; //215
    height: 275px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 32px 32px rgba($color: #9e9e9e, $alpha: 0.25);
    transition: transform 0.3s ease-in-out;
    position: relative;
    &:hover {
        transform: scale(1.1, 1.1);
    }
    // light blue glow on hover
    &:hover::before {
        opacity: 1;
    }
    &::before {
        box-shadow: 0px 32px 32px rgba($color: #d3e8ff, $alpha: 1.0);
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        height: 100%;
        width: 100%;
        display: block;
        content: '';
        position: absolute;
    }

    .product-photo {
        flex: 1;
        border-radius: 12px 12px 0 0;
    }
    .product-title{
        height: 36px;
        font-weight: bold;
        font-size: 14px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-item-nostock {
        background-color: red;
        color: white;
        font-size: 16px;
        border-radius: 12px;
        position: absolute;
        padding: 0 10px;
        font-weight: bold;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
        margin-bottom: 25px;
        z-index: 2;
    }
    .product-item-featured {
        background-color: white;
        padding: 0 10px;
        position: absolute;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        padding: 2px 10px;
        left: 50%;
        transform: translate(-50%);
        margin-top: -12px;
        font-size: 15px;
        z-index: 2;
        svg {
            height: 20px;
            width: 20px;
            color: #FFB629;
        }
    }
}

.product-detail-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    .product-detail-content {
        max-width: 1270px;
        display: flex;
        flex-direction: column;
    }
    .product-detail-topnav {
        display: flex;
        margin-bottom: 12px;
    }
    .product-detail-goback {
        margin-right: 20px;
        font-weight: bold;
    }
    .product-detail-breadcrumbs {
        background-color: white;
        display: flex;
        border-radius: 12px;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        svg {
            // 1.8 ratio
            width: 25px;
            height: 45px;
            stroke: #d8d8d8;
        }
        span {
            padding: 0 20px;
            &:first-child {
                color: #777777;
                cursor: pointer;
            }
            &:last-child {
                padding: 0 20px 0 10px;
            }
        }
    }

    .product-detail-body-container {
        flex: 1;
        padding: 10px;
        border-radius: 12px;
        display: flex;
    }

    .product-detail-body {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        .product-detail-gallery-container {
            flex: 1;
            display: flex;
        }
        .product-detail-gallery {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            justify-content: center;
        }
        .product-detail-nav {
            display: flex;
            flex: 1;
            width: 560px;
            height: 500px;
            .product-detail-arrow {
                height: 100%;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                transition: background 0.1s ease-in-out;
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.1);
                    cursor: pointer;
                }
                &:active {
                    background-color: $main-blue;
                    color: white;
                }
            }
        }
        .product-detail-photo {
            flex: 1;
            cursor: pointer;
            border-radius: 20px;
        }
        .product-detail-thumbnails {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: center;
            margin-top: 20px;
            .product-detail-thumbnails-active {
                color: white;
                border-style: solid;
                border-color: $main-blue;
                border-width: 0 0 5px 0;
                border-spacing: 2px;
            }
            li {
                width: 110px;
                height: 110px;
                margin: 0 5px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .product-detail-data {
            flex: 1;
            min-width: 500px;
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;
            p {
                font-size: 20px;
                background-color: white;
                border-radius: 12px;
                padding: 20px;
            }
            button {
                width: 300px;
                height: 50px;
                font-size: 18px;
                align-self: center;
                font-weight: bold;
                margin-top: 10px;
                background-color: $main-blue;
                color: white;
                svg {
                    width: 30px;
                    height: 30px;
                    margin-top: -5px;
                    color: $main-blue;
                }
            }
            .product-detail-data-stockfeature-container {
                display: flex;
                justify-content: space-between;
                & > div  {
                    background-color: white;
                    border-radius: 12px;
                    padding: 10px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        margin-right: 10px;
                    }
                }
            }
            .product-detail-data-stock {
                color: green;
            }
            .product-detail-data-nostock {
                color: red;
            }
            .product-detail-data-featured > svg {
                color: #FFB629;
            }
            .product-detail-categories {
                list-style-type: none;
                display: flex;
                margin-bottom: 20px;
            }
            .product-detail-category-item {
                display: flex;
                align-items: center;
                background-color: #ccc;
                border-radius: 20px;
                padding: 10px 20px;
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }
    .product-detail-photo-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        .product-detail-photo-overlay-content {
            display: flex;
            flex-direction: column;
            .close-overlay-button { 
                margin-bottom: 10px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                svg {
                    color: white;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
            }
            img {
                max-height: 90vh;
            }
        }
    }
}

.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    .product-list-content {
        width: 1270px;
    }
    .product-list {
        display: flex;
        margin-top: 25px;
        .product-list-nav-container {
            display: flex;
            flex-direction: column;
        }
    }
    .product-list-categories {
        width: 210px; //250
        list-style-type: none;
        background-color: $main-blue;
        box-shadow: 0 8px 16px rgba($color: $main-blue, $alpha: 0.5);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        li:last-child {
            margin-bottom: 20px;
        }
        .product-list-categories-header {
            font-weight: bold;
            border-radius: 12px 12px 0 0;
            display: flex;
            justify-content: center;
        }
        li {
            background-color: #005ecb;
            padding: 5px 20px;
            margin-bottom: 7px;
            box-shadow: 0 0 4px rgba($color: white, $alpha: 0.25);
            font-size: 24px;
            color: white;
        }
        .product-list-categories-item {
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &:hover {
                background-color: #004AA0;
            }
        }
        .product-list-categories-item-active {
            background-color: #003673;
        }
    }
    
    .product-list-items-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-left: 25px;
        .product-list-items {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            //margin-top: -25px;
            li {
                margin: 25px 15px; //25 15
            }
        }
        .product-list-header {
            display: flex;
            justify-content: space-between;
        }
        .product-list-breadcrumbs {
            display: flex;
            height: 45px;
            font-size: 20px;
            background-color: white;
            border-radius: 12px;
            align-items: center;
            div:last-child {
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
            }
            div:first-child {
                padding: 0 5px 0 15px;
                color: #777;
                cursor: pointer;
            }
            svg {
                // 1.8 ratio
                width: 25px;
                height: 45px;
                stroke: #d8d8d8;
            }
        }
        .products-search-bar {
            background-color: white;
            width: 300px;
            border-radius: 12px;
            height: 45px;
            display: flex;
            align-items: center;
            padding: 0 20px 0 10px;
            svg {
                margin: 0 10px;
            }
            #product-search-text {
                flex: 1;
                border: none;
                font-size: 18px;
                outline: none;
            }
            transition: box-shadow 0.3s ease-in-out;
            &:focus-within {
                box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
            }
        }
    }
}

.product-list-section {
    display: flex;
    flex-direction: column;
}

.product-list-paginator-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.paginator {
    display: flex;
    list-style-type: none;
    li {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
        cursor: pointer;
        margin: 0 10px;
        transition: transform 0.3s ease-in-out;
        background-color: white;
    }
    li.paginator-active-page {
        background-color: $main-blue;
        box-shadow: 0 0 12px $main-blue;
        cursor: default;
        color: white;
    }
    li:hover:not(.paginator-active-page) {
        transform: scale(1.2,1.2);
    }
    li.paginator-disabled  {
        cursor: default;
        color: #BDBDBD;
        background-color: unset;
        box-shadow: none;
        &:hover {
            transform: none;
        }
    }
}

.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .notfound-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 20px;
        padding: 50px 50px;
        margin-bottom: 50px;
        .logo-text-container {
            color: $main-blue;
        }
        span {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            font-size: 26px;
        }
    }
    & > span {
        color: #777;
        margin-top: 50px;
    }
}

// -- Admin --

.admin-login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.admin-login-backbtn {
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background-color: white;
    padding: 0;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    align-self: center;
    transition: color 0.3s ease-in-out,  box-shadow 0.3s ease-in-out;
    &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
        color: $main-blue
    }
    &::-moz-focus-inner {
        border: none;
    }
}

.admin-login-content {
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo-text-container {
        color: $main-blue;
    }
    padding: 70px 50px 30px;
    form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        input {
            width: 400px;
            padding: 0 20px;
            height: 50px;
            background-color: #ebebeb;
            color: black;
            font-size: 20px;
            border-radius: 7px;
            border: none;
            margin-bottom: 30px;
            transition: box-shadow 0.3s ease-in-out;
            &:focus {
                outline: none;
                box-shadow: 0 8px 16px rgba($color: $main-blue, $alpha: 0.3);
            }
        }
        button {
            width: 300px;
            height: 50px;
        }
        .admin-login-error {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: red, $alpha: 0.5);
            color: #700;
            border: solid 1px red;
            border-radius: 12px;
            height: 36px;
            margin-top: 20px;
        }
    }
}

.admin-panel-container {
    display: flex;
    flex-direction: column;
    .admin-panel-topnav {
        width: 100%;
        margin: 10px 0 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-blue;
        font-size: 28px;
        font-weight: bold;
        .logo-text-container {
            color: $main-blue;
        }
    }
    .admin-panel-content {
        display: flex;
        flex-wrap: wrap;
    }
}

.admin-panel-nav {
    width: 300px;
    margin: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    ul {
        background-color: white;
        border-radius: 12px;
        padding: 30px 40px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        h3 {
            margin: 0 0 10px -20px;
            color: #8D8D8D;
            font-weight: normal;
        };
        li > a {
            display: flex;
            align-items: center;
            padding: 5px 0;
            transition: color 0.3s ease-in-out;
            svg {
                margin-right: 10px;
            }
            &:hover{
                color: $main-blue;
            }
        }
    }
    a {
        text-decoration: none;
        color: black;
        &:visited {
            color: black;
        }
        font-size: 20px;
    }
    .admin-panel-sectionactive a {
        color: $main-blue;
    }
    .admin-panel-exit {
        margin-top: 20px;
        background-color: white;
        border-radius: 12px;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 40px;
        transition: transform 0.3s ease-in-out;
        svg {
            color: red;
            margin-right: 10px;
        }
        &:hover {
            transform: scale(1.1,1.1);
        }
    }
}

.admin-panel-body {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 600px;
}

.admin-nav-add {
    background-color: white;
    border-radius: 7px;
    height: 40px;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 10px;
    svg {
        width: 24px;
        height: 24px;
    }
    &:hover {
        cursor: pointer;
        color: white;
        background-color: $main-blue;
        box-shadow: 0 4px 8px rgba($color: $main-blue, $alpha: 0.5);
    }
}

.admin-carousel-container {
    display: flex;
    flex-direction: column;
    width: 92%;
    .admin-carousel-content {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        & > li {
            display: flex;
            flex-direction: column;
        }
        .admin-carousel-photo {
            width: 100%;
            margin-top: 30px;
            border-radius: 20px;
            height: 0;
            // height/width ratio 250/1270 * 100  %
            padding-top: 19.6850393701%;
            background-color: white;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .admin-carousel-label {
                border: none;
                &:focus {
                    outline: 0;
                }
                &::placeholder {
                    color: #ddd;
                    font-weight: normal;
                    font-size: 28px;
                }
            }
        }
        .admin-carousel-nav {
            display: flex;
            justify-content: flex-end;
            & > ul {
                background-color: white;
                list-style-type: none;
                display: flex;
                border-radius: 7px;
                margin-top: 15px;
                padding: 0 10px;
                & > li {
                    display: flex;
                    margin: 12px 10px;
                    align-items: center;
                    transition: transform 0.3s ease-in-out, color 0.3s linear;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.2,1.2);
                        color: $main-blue;
                    }
                    &.admin-carousel-remove:hover {
                        color: red;
                    }
                }
            }
        }
        .admin-carousel-disabled-icon {
            color: gray;
            &:hover {
                cursor: default;
            }
        }
    }
    .admin-carousel-savecancel-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        button:first-child {
            margin-right: 20px;
        }
    }
    .main-btn {
        padding: 10px 20px;
        border-radius: 5px;
    }
    .cancel-btn {
        margin-left: 20px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
    }
    #admin-carousel-upload-image {
        display: none;
    }
}

.admin-products-container {
    display: flex;
    flex-direction: column;
    width: 92%;
    &>ul {
        margin-bottom: 50px;
    }
    .paginator {
        display: flex;
        justify-content: center;
    }
    .admin-product-item {
        background-color: white;
        border-radius: 12px;
        margin-top: 20px;
        list-style-type: none;
        padding: 0 20px;
        display: flex;
        align-items: center;
        transition: box-shadow 0.3s ease-in-out;
        &:hover {
            box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
        }
        .admin-product-data {
            display: flex;
            width: calc(100% - 100px); // actions width
            padding: 20px 0;
            &:hover {
                cursor: pointer;
            }
        }
        .admin-product-description {
            width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #777;
        }
        .admin-product-title {
            font-weight: bold;
            width: 20%;
            font-size: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 10px;
        }
        .admin-product-date {
            width: 10%;
            display: flex;
            justify-content: center;
            color: #777;
        }
        .admin-product-nostock {
            background-color: red;
            color: white;
            font-size: 12px;
            border-radius: 12px;
            position: absolute;
            padding: 0 10px;
            font-weight: bold;
            margin-top: -30px;
        }
    }
    .admin-product-item-actions {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 100px;
    }
    .admin-product-remove-icon {
        transition: color 0.3s ease-in-out;
        &:hover {
            color: red;
            cursor: pointer;
        }
    }
    .admin-product-empty {
        color: #777;
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-top: 20px;
    }
    .admin-products-search-nav {
        margin-top: 20px;
    }
    .admin-products-search-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .admin-products-search-input-bar {
        background-color: white;
        border-radius: 12px;
        display: flex;
        align-items: center;
        transition: box-shadow 0.3s ease-in-out;
        padding: 10px 20px;
        width: 36%;
        min-width: 350px;
        &:focus-within {
            box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
        }
        input {
            flex: 1;
            color: #333;
            border: none;
            outline: none;
            padding-left: 10px;
            font-size: 18px;
        }
    }
    .admin-products-search-input {
        display: flex;
        align-items: center;
        button {
            background-color: $main-blue;
            width: 35px;
            height: 35px;
            border-radius: 17px;
            border: none;
            color: white;
            margin-left: 20px;
            &:focus {
                outline: none;
                border: none;
            }
            &:hover {
                cursor: pointer;
            }
            &:active {
                box-shadow: 0px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
            }
            &::-moz-focus-inner {
                border: none;
            }
        }
    }
}

.admin-product-star-active {
    color: #FFB629;
    cursor: pointer;
}
.admin-product-star {
    color: #C4C4C4;
    cursor: pointer;
}

.admin-product-detail-container {
    display: flex;
    flex-direction: column;
    width: 92%;
    flex-wrap: nowrap;
    h3 {
        color: #777;
        font-weight: normal;
        margin: 20px 0 10px 0;
    }
    .admin-product-detail-goback {
        background-color: white;
        border-radius: 12px;
        display: flex;
        align-items: center;
        width: 110px;
        height: 50px;
        padding: 0 20px;
        font-size: 22px;
        transition: box-shadow 0.3s ease-in-out;
        &:hover {
            cursor: pointer;
            box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
        }
        svg {
            margin-right: 10px;
        }
    }
    .admin-product-detail-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        .admin-product-detail-title {
            width: 50%;
            min-width: 400px;
            border: none;
            outline: none;
            font-size: 22px;
            background-color: white;
            border-radius: 12px;
            padding: 10px 20px;
            transition: box-shadow 0.3s ease-in-out;
            &:focus-within {
                box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
            }
        }
        .admin-product-detail-data {
            display: flex;
            & > div {
                background-color: white;
                border-radius: 12px;
                padding: 10px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
            }
            .admin-product-star,.admin-product-star-active {
                padding: 0;
                width: 50px;
                border-radius: 25px;
                cursor: pointer;
                svg {
                    transition: transform 0.3s ease-in-out;
                    
                }
                &:hover svg {
                    transform: rotate(145deg);
                }
            }
            .admin-product-detail-date {
                color: #777;
            }
            .admin-product-detail-stock {
                background-color: $main-blue;
                font-weight: bold;
                color: white;
                &:hover {
                    background-color: red;
                    cursor: pointer;
                }
            }
            .admin-product-detail-nostock {
                background-color: red;
                font-weight: bold;
                color: white;
                &:hover {
                    background-color: $main-blue;
                    cursor: pointer;
                }
            }
        }
    }
    .admin-product-detail-description {
        background-color: white;
        padding: 30px;
        border: none;
        outline: none;
        font-size: 18px;
        border-radius: 12px;
        resize: none;
        transition: box-shadow 0.3s ease-in-out;
        &:focus-within {
            box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
        }
    }
    .admin-product-detail-categories {
        list-style-type: none;
        display: flex;
    }
    .admin-product-category-item {
        display: flex;
        align-items: center;
        background-color: #ccc;
        border-radius: 20px;
        padding: 10px 20px;
        margin-right: 20px;
        position: relative;

        &:hover > .remove-badge {
            visibility: visible;
        }
    }
    .admin-product-detail-category-add {
        display: flex;
        align-items: center;
        background-color: #e2e2e2;
        color: #777;
        border-radius: 20px;
        padding: 10px 20px;
        transition: color 0.3s ease-in-out,
            background-color 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out;
        svg {
            transition: transform 0.3s ease-in-out;
            margin-right: 10px;
        }
        &:hover {
            cursor: pointer;
            background-color: $main-blue;
            color: white;
            box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);;
            svg {
                transform: rotate(180deg);
            }
        }
    }
    .admin-product-detail-photos {
        list-style-type: none;
        display: flex;
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            margin-right: 30px;
        }
    }
    .admin-product-detail-photos-newproductmsg {
        color: #777;
        display: flex;
        justify-content: center;
    }
    .admin-product-detail-photos-item {
        width: 110px;
        height: 110px;
        background-position: center;
        background-size: cover;
        border-radius: 12px;
        box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: 0.2);
        position: relative;
        &:hover {
            .remove-badge {
                visibility: visible;
            }
            .admin-product-detail-photos-setprimary {
                visibility: visible;
            }
        }
        .admin-product-detail-photos-setprimary {
            visibility: hidden;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 17px;
            padding: 5px;
            color: #FFB629;
            cursor: pointer;
        }
    }
    .admin-product-detail-photos-item-primary {
        display: flex;
        flex-direction: column;
        div {
            height: 5px;
            margin-top: 10px;
            background-color: $main-blue;
        }
        span {
            display: flex;
            justify-content: center;
            color: $main-blue;
        }
    }
    .admin-product-detail-photos-add {
        width: 110px;
        height: 110px;
        border-radius: 55px;
        background-color: #E2E2E2;
        color: #AAA;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.3s ease-in-out, 
                background-color 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out;
        svg {
            width: 50px;
            height: 50px;
            transition: transform 0.3s ease-in-out;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);;
            background-color: rgba($color: $main-blue, $alpha: 0.7);
            color: white;
            svg {
                transform: rotate(180deg);
            }
        }
    }
    .admin-product-detail-remove, .admin-product-detail-create {
        background-color: white;
        align-self: flex-end;
        display: flex;
        margin-right: 10%;
        padding: 7px 20px;
        border-radius: 12px;
        transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
        svg {
            margin-right: 10px;
            transition: color 0.3s ease-in-out,
                transform 0.3s ease-in-out;
        }
        &:hover {
            cursor: pointer;
            color: white;
            svg {
                color: white;
                transform: rotate(180deg);
            }
        }
    }
    .admin-product-detail-remove {
        svg {
            color: red
        }
        &:hover {
            box-shadow: 4px 8px 16px rgba($color: red, $alpha: 0.3);
            background-color: red;
        }
    }
    .admin-product-detail-create {
        svg {
            color: $main-blue
        }
        &:hover {
            box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
            background-color: $main-blue;
        }
    }
    
    .admin-product-detail-savecancel {
        align-self: center;
        display: flex;
        button:first-child{
            margin-right: 20px;
        }
    }
    #admin-product-upload-images {
        display: none;
    }
}

.admin-categories-container {
    display: flex;
    flex-direction: column;
    width: 92%;
    .admin-categories-add {
        display: flex;
        justify-content: center;
        input {
            background-color: white;
            border:none;
            outline: none;
            color: black;
            border-radius: 12px;
            font-size: 18px;
            height: 50px;
            width: 300px;
            padding: 0 20px;
            margin-right: 20px;
            transition: box-shadow 0.3s ease-in-out;
            &:focus-within {
                box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
            }
        }
    }
    .admin-categories-content {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        li {
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 12px;
            height: 50px;
            width: 350px;
            padding: 0 20px;
            margin-top: 20px;
            transition: box-shadow 0.3s ease-in-out;
            &:focus-within {
                box-shadow: 4px 8px 16px rgba($color: $main-blue, $alpha: 0.3);
            }
            input {
                flex: 1;
                font-size: 18px;
                border: none;
                outline: none;
                padding-right: 10px;
            }
            svg {
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
        }
    }
    .admin-categories-savecancel {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        button {
            font-size: 16px;
            &:first-child {
                margin-right: 20px;
            } 
        }
    }
}