html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
ul, li {
    margin: 0;
    padding: 0;
}
input {
    font-family: 'Open Sans', sans-serif;
}

$main-blue: #0076FF;

body {
    background-color: #F0F0F0;
}

// For icons size from 10 to 40 in even (10, 12, 14...)
@mixin svg-sizes {
    @for $s from 5 through 20 {
        $_s: $s * 2;
        .svg-#{$_s} {
            width: #{$_s}px;
            height: #{$_s}px;
        }
    }
}
@include svg-sizes();


.rotate-180 {
    transform: rotate(180deg);
}

.no-select {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-separator {
    flex: 1;
}

.tooltip-container {
    .tooltip-text {
        opacity: 0;
        visibility: hidden;
        padding: 5px 10px;
        font-weight: bold;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.8);
        display: flex;
        justify-content: center;
        border-radius: 12px;
        position: absolute;
        transition: visibility 0.3s linear, opacity 0.3s ease-in-out;
        box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.2);
    }
    &:hover .tooltip-text {
        opacity: 1;
        visibility: visible;
    }
}

.overlay {
    transition: visiblity 0.3s linear, opacity 0.3s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    .overlay-background {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.8);
        position: fixed;
    }
    .overlay-content {
        z-index: 9999;
        cursor: default; // why?
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
    }
}

// -- Home --

header, footer {
    height: 200px;
    background-color: $main-blue;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 70px;
    .footer-sns {
        color: white;
        font-weight: bold;
        padding-left: 50px;
        .facebook-logo-svg {
            color: #003F88; // original #1877f2;
        }
        ul {
            list-style-type: none;
            h1 {
                margin: 0;
            }
            li {
                display: flex;
                align-items: center;
                padding-bottom: 5px;
                a {
                    color: white;
                    text-decoration: none;
                }
                svg {
                    margin-right: 10px;
                    color: white;
                }
            }
        }
    }
    .footer-map-overlay {
        width: 500px;
        height: 500px;
        background-color: white;
    }
}

.content-width{ width: 1270px;}

.header-content {
    display: flex;
    .logo-container {
        width: 500px;
    }
}

.footer-content {
    display: flex;
    align-items: center;
    .footer-map {
        width: 300px;
        height: 150px;
        background-color: gray;
        &:hover {
            cursor: pointer;
        }
    }
    .footer-sns {
        flex: 1;
    }
}

.logo-container {
    display: flex;
    height: 100%;
    .logo-image {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 170px;
        img { 
            max-width: 160px; 
            max-height: 140px;
        }
    }

    .logo-text-container {
        flex: 1;
        font-family: 'Passion One', cursive;
        font-size: 48px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .logo-text-bottom {
            display: flex;
            margin-top: -15px;
        }
        .logo-text-2 {
            font-size: 36px;
            transform: rotate(-20deg);
            margin: 5px 20px 0 25px;
        }
    }
}

.menu-container {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    ul {
        list-style-type: none;
        display: flex;
        li {
            display: flex;
            justify-content: center;
            width: 250px;
            a { 
                text-decoration: none; 
                color: white;
                &:focus { outline: none;}
            }
        }
        .search-component {width: 300px;}
    }
}

.carousel-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel-content {
    max-width: 1270px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.carousel-nav {
    flex: 1;
    display: flex;
    align-items: center;
    div {
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            color: gray;
        }
        margin: 60px 20px 0 20px;
    }
    .carousel-nav-enable {
        background-color: white;
        border-radius: 18px;
        svg {
            color: black;
        }
        box-shadow: 2px 2px 8px rgba($color: black, $alpha: 0.15);
        cursor: pointer;
    }
    .carousel-arrow-separator {
        flex: 1;
    }
}

.carousel-label {
    height: 75px;
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(60px);
    border-radius: 0px 0px 20px 20px;
    font-size: 36px;
    font-weight: bold;
    align-items: center;
    display: flex;
    padding-left: 50px;
    color: white;
}


.section-title {
    font-size: 18px;
    font-weight: bold;
    color: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    .section-title-line {
        height: 0;
        width: 100%;
        border: solid 0.5px rgba($color: black, $alpha: 0.05);
    }
    .section-title-text {
        flex: 1;
        white-space: nowrap;
        margin: 0 20px;
    }
}


.about-us-container {
    display: flex;
    justify-content: center;
}

.about-us-content {
    width: 1270px;
    margin-top: 50px;
    article {
        padding: 20px 0 0 50px;
    }
}

.new-products-container {
    display: flex;
    justify-content: center;
    .new-products-content {
        width: 1270px;
        margin-top: 50px;
        .section-title {
            margin-bottom: 30px;
        }
        .new-products-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            .new-products-nav-arrow {
                margin: 0 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
            }
            .new-products-nav-enable {
                background-color: white;
                border-radius: 18px;
                svg {
                    color: black;
                }
                box-shadow: 2px 2px 8px rgba($color: black, $alpha: 0.15);
                cursor: pointer;
            }
        }
        .new-products-list {
            list-style-type: none;
            display: flex;
            justify-content: center;
            li {
                margin-right: 30px;
            }
        }        
    }
}

.product-link {
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

.product-container {
    display: flex;
    flex-direction: column;
    width: 225px; //215
    height: 275px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 32px 32px rgba($color: #9e9e9e, $alpha: 0.25);
    transition: transform 0.3s ease-in-out;
    position: relative;
    &:hover {
        transform: scale(1.1, 1.1);
    }
    // light blue glow on hover
    &:hover::before {
        opacity: 1;
    }
    &::before {
        box-shadow: 0px 32px 32px rgba($color: #d3e8ff, $alpha: 1.0);
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        height: 100%;
        width: 100%;
        display: block;
        content: '';
        position: absolute;
    }

    .product-photo {
        background-size: cover;
        background-position: center;
        flex: 1;
        border-radius: 12px 12px 0 0;
        position: relative;

        // gradient shadow on the image on hover
        // &:hover::before {
        //     //background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.2));
        //     opacity: 1;
        // }
        // &::before {
        //     transition: opacity 0.3s ease-in-out;
        //     opacity: 0;
        //     height: 100%;
        //     width: 100%;
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     box-shadow: inset 0 -150px 100px -75px rgba(0,0,0,0.35);
        // };
    }
    .product-title{
        height: 36px;
        font-weight: bold;
        font-size: 14px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.product-overlay {
    width: 90%;
    height: 90%;
    background-color: white;
}

.product-list-container {
    display: flex;
    justify-content: center;
    .product-list-content {
        width: 1270px;
        margin-top: 50px;
    }
    .product-list {
        display: flex;
        margin-top: 25px;
        .product-list-nav-container {
            display: flex;
            flex-direction: column;
        }
    }
    .product-list-nav {
        width: 210px; //250
        list-style-type: none;
        background-color: $main-blue;
        box-shadow: 0 8px 16px rgba($color: $main-blue, $alpha: 0.5);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        li:last-child {
            margin-bottom: 20px;
        }
        .product-list-nav-header {
            font-weight: bold;
            border-radius: 12px 12px 0 0;
            display: flex;
            justify-content: center;
        }
        li {
            background-color: #005ecb;
            padding: 5px 20px;
            margin-bottom: 7px;
            box-shadow: 0 0 4px rgba($color: white, $alpha: 0.25);
            font-size: 24px;
            color: white;
        }
        .product-list-nav-item {
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            &:hover {
                background-color: #004AA0;
            }
        }
    }
    
    .product-list-items-container {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        .product-list-items {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            //margin-top: -25px;
            li {
                margin: 25px 15px; //25 15
            }
        }
        .product-list-header {
            display: flex;
        }
        .product-list-breadcrumbs {
            display: flex;
            width: 300px;
            height: 36px;
            background-color: white;
            border-radius: 7px;
            align-items: center;
            div:last-child {
                flex: 1;
                display: flex;
                justify-content: center;
                padding-right: 20px;
            }
            div:first-child {
                padding: 0 20px;
                color: #777;
                cursor: pointer;
            }
            svg {
                width: 20px;
                height: 36px;
                stroke: #d8d8d8;
            }
        }
        .products-search-bar {
            background-color: white;
            width: 300px;
            border-radius: 7px;
            height: 36px;
            display: flex;
            align-items: center;
            transition: transform 0.3s ease-in-out;
            svg {
                margin: 0 10px;
            }
            #product-search-text {
                flex: 1;
                border: none;
                padding-right: 10px;
                font-size: 14px;
                outline: none;
                
            }
            &:focus-within{
                transform: scale(1.2, 1.2) translate(-25px,0px);
            }
            
        }
    }
}

.product-list-section {
    display: flex;
    flex-direction: column;
}

.product-list-paginator-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.paginator {
    display: flex;
    list-style-type: none;
    li {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
        cursor: pointer;
        margin: 0 10px;
        transition: transform 0.3s ease-in-out;
        background-color: white;
    }
    li.paginator-active-page {
        background-color: $main-blue;
        box-shadow: 0 0 12px $main-blue;
        cursor: default;
        color: white;
    }
    li:hover:not(.paginator-active-page) {
        transform: scale(1.2,1.2);
    }
    li.paginator-disabled  {
        cursor: default;
        color: #BDBDBD;
        background-color: unset;
        box-shadow: none;
        &:hover {
            transform: none;
        }
    }
}